<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800&display=swap" rel="stylesheet">
  <title>Email Template</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    .link{
        display: inline-block;
        color: #E51B23;
        margin-top:2rem;
        text-decoration: none;
    }
    table {
      font-family: 'Raleway', sans-serif;
    }
    .outer-table {
      max-width: 600px;
      margin: 0 auto;
      width: 600px;
      background-color: #F6F8FA;
      padding: 30px 40px;
    }
    .inner-table {
      background: #fff;
      width: 100%;
      margin-top: 30px;
      padding: 40px 40px;
    }
    .inner-table button {
      padding: 14px 40px;
      background-color: #E51B23;
      height: 44px;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0.28px;
      color: #fff;
      border: 0;
      margin-top: 30px;
      border-radius: 4px;
    }
    .text-left {
      text-align: left;
    }
    .text-center {
      text-align: center;
    }
    .img-outer {
      height: 100px;
      width: 100px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
    h1 {
      color: #1C2C40;
      font-weight: 600;
      font-size: 22px;
      margin-top: 25px;
    }
    p {
      color: #1C2C40;
      font-weight: 600;
      font-size: 16px;
      margin-top: 25px;
    }
    .para {
      font-weight: 500;
      font-size: 14px;
      color: #1C2C40;
      margin-top: 25px;
      line-height: 24px;
      letter-spacing: 0.28px;
    }
    .para a {
      font-weight: 700;
      padding: 0 10px;
      color: #333;
    }
    .para a.dots {
      position: relative;
    }
    .para a.dots:after {
      position: absolute;
      content: ".";
      top: -7px;
      right: 3px;
    }
    .para a.dots:before {
      position: absolute;
      content: ".";
      top: -7px;
      left: -1px;
    }
    .para.mt-15 {
      margin-top: 15px;
    }
    .social-icons a {
      display: inline-block;
      padding: 0 9px;
      width: 20px;
      margin-top: 40px;
    }
    .social-icons a img {
      width: 100%;
    }
    .extra th {
      padding: 15px;
      text-align: left;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.6px;
      font-weight: 600;
      border: 0;
      border-collapse: collapse;
    }
    .extra tr.thead {
      background: #E51B23;
      color: #fff;
    }
    .extra td {
      padding: 20px 15px;
      text-align: left;
      font-size: 12px;
      font-weight: 500;
      border: 0;
      border-bottom: 1px solid #a6a6a6;
      border-collapse: collapse;
    }
    table.extra {
      width: 100%;
      border: 1px solid #a6a6a6;
      border-collapse: collapse;
    }
    .border-top-p {
      margin-top: 30px;
      padding-top: 30px;
      border-top: 1px solid #a6a6a6;
      margin-bottom: 30px;
    }
  </style>
</head>
<body>
  <table class="outer-table">
    <thead>
      <tr>
        <th class="text-left"><center><img src="https://autoflex.fra1.digitaloceanspaces.com/Uploads/Images/Orig/1617367893730-tHiVo-logo.png" data-filename="logo.jpg" style="width: 100px;"></center></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <!---------Inner table-->
          <table class="inner-table">
            <tbody>
              {{!-- <tr>
                <td class="text-center">
                  <a class="img-outer">
                    <img style="width: 100%;margin: 0 auto;" src="https://devpotswork.blob.core.windows.net/medium/email-color-logo.png">
                  </a>
                </td>
              </tr> --}}
              <tr>
                <td class="text-center">
                  <h1>{{subject}}</h1>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  <p>Hi {{name}}</p>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  <p class="para">{{text}}</p>
                </td>
              </tr>
            </tbody>
           
          </table>
          <!--------------------------->
        </td>
      </tr>
      {{!-- <tr class="text-center">
        <td class="social-icons">
          <a><img style="filter: brightness(0.5);" src="https://app-transfer.com:3006/api/local/file?filename=1605078257476-facebook.png&folder=orig"></a>
          <a><img src="https://app-transfer.com:3006/api/local/file?filename=1605078195109-google.png&folder=orig"></a>
          <a><img src="https://app-transfer.com:3006/api/local/file?filename=1605078283907-instagram.png&folder=orig"></a>
      </tr> --}}
      <tr class="text-center">
        <td>
          
          <p class="para mt-15">
            <a href="google.com">About Us</a>
            <a href="google.com" class="dots">
              Privacy Policy
            </a>
            <a href="google.com" >Terms and Condition</a>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>           