<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <title>Email</title>
</head>

<style>
    
    .hover a:hover{
        text-decoration: underline !important;
    }
</style>

<body style="max-width: 680px;width: 100%;margin: auto;font-family: 'Open Sans', sans-serif;">

    <div class="main">
        <div class="logo" style="padding: 15px 0;">
            <img src="https://lifemib.s3.us-east-2.amazonaws.com/Uploads/Images/small/1634648920155-logo-(1).png">
        </div>
        <div class="bodyclass" style="background: #fff;">
            <div class="review" style="text-align: left;">
                <!-- <h2 style="color: #222;font-size: 26px;line-height: 28px;">Welcome - Agent</h2>
                <h4 style="color: #222;font-size: 20px;line-height: 28px;">Welcome to The New Way Insurance Is Sold & Serviced</h4>
                <strong style="margin-bottom: 25px; display: block;">Description;</strong> -->
<!--                
                <div class="discription">
                    <p style="margin: 0; margin-bottom: 5px;">Thank you, your consultation has been successfully scheduled.</p>

                </div> -->

                <h2 style="text-align: center; color: #343434;">Appointment Cancelled</h2>
              

                <p style="margin: 0;"><strong style="margin-bottom: 25px; margin-top: 25px; color: #343434;">Client: </strong> {{customerName}} </p>
                <p style="margin: 0; margin-bottom: 20px;"><strong style="margin-bottom: 25px; margin-top: 0px; color: #343434;">When: </strong> {{date}} {{time}}</p>
                
                <div class="if" style="margin: 40px 0">
                    <p style="margin: 0; margin-bottom: 0px;">If you have any questions please <a href="https://lifemib.net/support">contact support </a></p>
                </div>
                <div class="discription" style="margin-top: 0px;">
                    <p style="margin: 0; margin-bottom: 0px;"> Thank you </p>
                    <p style="margin: 0; margin-bottom: 5px;"> Life Mib Team </p>
                </div>

               

                <div class="email-temp" style="margin-bottom: 30px; margin-top: 25px; padding-top: 25px; border-top: 1px solid #ccc;">
                    <p style="margin: 0;">This email was sent by: Life Mib, Inc. © 2021 All Rights Reserved</p>
                    <p style="margin: 0;">10551 Barkley St #205 | Overland Park, KS 66207 </p>
                    <p class="hover">
                        <a href="{{getUrl}}unsubscribe/{{email}}" style="display: inline-block;text-decoration: none;">Unsubscribe |</a> 
                        <a href="{{getUrl}}privacy" style="display: inline-block;text-decoration: none;"> Privacy Policy |</a> 
                        <a href="{{getUrl}}terms-of-service" style="display: inline-block;text-decoration: none;"> TERMS</a> 
                    </p>
                </div>

            </div>
        </div>
    </div>    
</body>

</html>