<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <title>Email</title>
</head>

<style>
    
    .hover a:hover{
        text-decoration: underline !important;
    }
</style>

<body style="max-width: 680px;width: 100%;margin: auto;font-family: 'Open Sans', sans-serif;">
<a href="{{link}}" target="blank" style="text-decoration: none;display: block;">
    <div class="main">
        <div class="logo" style="text-align: center;padding: 15px 0;">
            <img src="https://lifemib.s3.us-east-2.amazonaws.com/Uploads/Images/small/1634648920155-logo-(1).png">
        </div>
        <div class="bodyclass" style="background: #fff;border: 1px solid #c5c7cc;padding: 15px;">
            <div class="review" style="text-align: center;">
                <img src="https://lifemib.s3.us-east-2.amazonaws.com/Uploads/Images/small/{{image}}" style="width: 100%; max-width: 100px;">
                <h2 style="color: #222;font-size: 18px;line-height: 28px;">{{name}}</h2>
                <div class="star">
                    <img src="https://lifemib.s3.us-east-2.amazonaws.com/Uploads/Images/small/1634100706277-star_border.png" style="width: 28px;">
                    <img src="https://lifemib.s3.us-east-2.amazonaws.com/Uploads/Images/small/1634100706277-star_border.png" style="width: 28px;">
                    <img src="https://lifemib.s3.us-east-2.amazonaws.com/Uploads/Images/small/1634100706277-star_border.png" style="width: 28px;">
                    <img src="https://lifemib.s3.us-east-2.amazonaws.com/Uploads/Images/small/1634100706277-star_border.png" style="width: 28px;">
                    <img src="https://lifemib.s3.us-east-2.amazonaws.com/Uploads/Images/small/1634100706277-star_border.png" style="width: 28px;">
                    
                </div>
                <div class="discription">
                    <p style="padding: 0 25px;line-height: 30px;font-size: 16px;font-weight: 500;color: #3e4755;">{{content}}</p>
                    <h2 style="color: #222;font-size: 18px;line-height: 28px; text-align:left;">
                        Thanks,<br> {{name}}
                    </h2>
                </div>
            </div>
        </div>
        <div class="footer" style="background-color: #fff;text-align: center;padding: 20px 0;">
            <!-- <div class="social">
                <i class="fab fa-facebook-f" style=" color: #a2a8b5;font-size: 25px;margin: 10px 6px 10px;"></i>
                <i class="fab fa-twitter" style="color: #a2a8b5;font-size: 25px;margin: 10px 6px 10px;"></i>
                <i class="fab fa-instagram" style="color: #a2a8b5;font-size: 25px;margin: 10px 6px 10px;"></i>
                <i class="fab fa-linkedin-in" style="color: #a2a8b5;font-size: 25px;margin: 10px 6px 10px;"></i>
            </div> -->
            <h2 style="color: #222;font-size: 18px;line-height: 28px;">
                © 2021 Life Mib <br> Help Term
            </h2>
            
        </div>

        <div class="email-temp" style="margin-bottom: 30px; margin-top: 0px; color: #3e4755; text-align: center;">
            <p style="margin: 0; color: #3e4755;">This email was sent by: Life Mib, Inc. © 2021 All Rights Reserved</p>
            <p style="margin: 0; color: #3e4755;">10551 Barkley St #205 | Overland Park, KS 66207 </p>
            <p class="hover">
                        <a href="{{getUrl}}unsubscribe/{{email}}" style="display: inline-block;text-decoration: none;">Unsubscribe |</a> 
                        <a href="{{getUrl}}privacy" style="display: inline-block;text-decoration: none;"> Privacy Policy |</a> 
                        <a href="{{getUrl}}terms-of-service" style="display: inline-block;text-decoration: none;"> TERMS</a> 
                    </p>
        </div>

    </div>    
</a>
</body>

</html>