<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <title>Email</title>
</head>
<style>
    
    .hover a:hover{
        text-decoration: underline !important;
    }
</style>

<body style="max-width: 680px;width: 100%;margin: auto;font-family: 'Open Sans', sans-serif;">

    <div class="main">
        <div class="logo" style="padding: 15px 0 0;">
            <img src="https://lifemib.s3.us-east-2.amazonaws.com/Uploads/Images/small/1634648920155-logo-(1).png">
        </div>
        <div class="bodyclass" style="background: #fff;">
            <div class="review" style="text-align: left;">
             
              

                <!-- <div class="if" style="margin: 40px 0">
                   <img src="img/user.png" style="width: 100%;">
                </div> -->

                <div class="question" style="margin: 45px 0;">
                    <h2 style="margin: 20px 0;">Hi there,</h2>
                    <h4 style="font-weight: 600;">{{customerName}} recently bought an insurance policy from {{agentName}}. They thought of you and shared their profile below.</h4>
                </div>
                <div class="share-regret" style="text-align: center; margin-bottom: 30px;">
                    <a href="{{getUrl}}agent/{{agent_id}}" class="send-email" style="width: 180px; height: 44px; line-height: 44px; border-radius: 8px; display: inline-block; cursor: pointer; font-weight: 600;  color: #fff;   background-color: #284fdd;
                    border-color: #284fdd;">
                        <span>Review Profile</span>
                    </a>
                   
                </div>

                <div class="discription" style="margin-top: 20px;">
                    <p style="margin: 0; margin-bottom: 0px;"> Thank you </p>
                    <p style="margin: 0; margin-bottom: 5px;"> Life Mib Team </p>
                </div>

               

                <div class="email-temp" style="margin-bottom: 30px; margin-top: 25px; padding-top: 25px; border-top: 1px solid #ccc;">
                    <p style="margin: 0;">This email was sent by: Life Mib, Inc. © 2021 All Rights Reserved</p>
                    <p style="margin: 0;">10551 Barkley St #205 | Overland Park, KS 66207 </p>
                    <p class="hover">
                        <a href="{{getUrl}}unsubscribe/{{email}}" style="display: inline-block;text-decoration: none;">Unsubscribe |</a> 
                        <a href="{{getUrl}}privacy" style="display: inline-block;text-decoration: none;"> Privacy Policy |</a> 
                        <a href="{{getUrl}}terms-of-service" style="display: inline-block;text-decoration: none;"> TERMS</a> 
                    </p>
                </div>

            </div>
        </div>
        <!-- <div class="footer" style="background-color: #fff;text-align: left;padding: 20px 0;">
            <div class="social">
                <i class="fab fa-facebook-f" style=" color: #a2a8b5;font-size: 25px;margin: 10px 6px 10px 0;"></i>
                <i class="fab fa-twitter" style="color: #a2a8b5;font-size: 25px;margin: 10px 6px 10px;"></i>
                <i class="fab fa-instagram" style="color: #a2a8b5;font-size: 25px;margin: 10px 6px 10px;"></i>
                <i class="fab fa-linkedin-in" style="color: #a2a8b5;font-size: 25px;margin: 10px 6px 10px;"></i>
            </div>
            <h2 style="color: #343434; font-size: 18px;line-height: 28px;">
                © 2021 Life Mib <br> Help Term
            </h2>
            
        </div> -->
    </div>    

</body>

</html>